.stats-box {
  background-color: var(--main-color);
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  color: var(--text-color);
  flex: 1 1 calc(25% - 16px);
  min-width: 220px;
  max-width: 100%;
}

.stats-box-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: var(--text-color);
  font-size: 0.9em;
}

.stats-box-title {
  font-weight: 500;
}

.stats-box-timespan {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-arrow {
  font-size: 0.7em;
  margin-left: 4px;
}

.stats-box-number {
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: var(--text-color);
}

.stats-box-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.stats-box-percentage {
  font-size: 0.9em;
  font-weight: 500;
}

.stats-box-mini-chart {
  width: 60%;
  height: 30px;
  margin-left: 10px;
}
