@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3b82f6;
  --primary-hover: ;
  --secondary-color: #4f46e5;
  --accent-color: #34d399;
  --warning-color: #f43f5e;
  /* Light Mode Background */
  --light-bg-color: #f9fafb;
  --light-cards-color: #ffffff;
  /* Light Mode Background */
  --dark-bg-color: #0f172a;
  --light-cards-color: #1e293b;
  /* Text Colors */
  --primary-txt-color: #111827;
  --secondary-txt-color: #6b7280;
  --light-mode-inverse: #f9fafb;
  --transition: 0.3s;
}

body {
  font-family: 'Poppins', sans-serif;
}
