@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@400;500;700&display=swap');

@import 'tailwindcss';

@theme {
  --color-blueberry: #4c7fff;
  --color-purple: #a55eff;
  --color-magenta: #f037ff;
  --color-cyan: #32e8e8;
  --color-btn-light: #f0eeff;
  --color-btn-dark: #4d4b5f;
  /* Light Theme colors */
  --color-white: #ffffff;
  --color-light: #edf4ff;
  /* Dark theme colors */
  --color-navy: #15223d;
  --color-darkBluishGray: #2e334b;
  /* Font sizes */
  --text-large: 2rem;
  --text-medium: 1.3125rem;
  --text-small: 1.0625rem;
  --text-xs: 0.9375rem;
}

/* 
  Max-width of area content: 1624px
  Sidebar width: 250px
  The Margin from left and right: 20px
  The space between sidebar and content: 30px
  The gap between the sections & cards: 20px
 */

body {
  font-family: 'Mulish', sans-serif;
}



input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input[type='password']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}